<launch>
  <node name="imu_offset_filter_node" pkg="imu_offset_filter" type="imu_offset_filter_node.py" output="screen">
    <rosparam param="N">1000</rosparam>
    <rosparam param="in">"/imu"</rosparam>
    <rosparam param="out">"/imu/filtered"</rosparam>
    <rosparam param="frame_id">"imu_link"</rosparam>
  </node>
</launch>
